.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #0056b3;
  color: white;
  font-size: 1.2em;
}

.title {
  font-weight: bold;
  font-size: 2em;
  margin: 0;
}

.search-bar {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  width: 250px;
  transition: border 0.2s ease-in-out;
}

.search-bar:focus {
  outline: none;
  border: 2px solid #0071e9;
}

.content {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #007bff;
  color: white;
  font-size: 1.3em;
}

.search-container {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-bar {
    width: 100%;
    margin-top: 10px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }
}
