<div class="board-container">
  <div class="create-board">
    <input [(ngModel)]="newBoardName" placeholder="Board Name" />
    <button (click)="createBoard()">Create New Board</button>
  </div>

  <div *ngIf="filteredBoards.length === 0">
    <h1>No boards found,create a new one!</h1>
  </div>

  <a
    *ngFor="let board of filteredBoards"
    [routerLink]="['/board', board.id]"
    class="board-link"
  >
    <div class="board" [style.backgroundColor]="board.color">
      <p class="board-name">{{ board.name }}</p>

      <div class="divider"></div>

      <span
        class="delete-icon"
        *ngIf="board.id !== undefined"
        (click)="deleteBoard($event, board.id)"
      >
        🗑
      </span>
    </div>
  </a>
</div>
